{% extends "layout.html"%}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="card center" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title text-center">Login</h5>
            <p class="card-text">Digite seu login e senha.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"> <input type="text" class="form-control" placeholder="login"
                    aria-label="Username" aria-describedby="basic-addon1"></li>
            <li class="list-group-item"> <input type="text" class="form-control" placeholder="login" aria-label="Senha"
                    aria-describedby="basic-addon1"></li>
        </ul>
        <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
</div>

{% endblock %}