{% extends "layout.html"%}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="card center" style="width: 18rem;">
        <img src="https://flask.palletsprojects.com/en/stable/_static/flask-logo.svg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title text-center">Login</h5>
            <p class="card-text">Digite seu login e senha.</p>
        </div>
        <form method="post" action="/login">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"> <input name="username" type="text" class="form-control" placeholder="login"
                        aria-label="Username" aria-describedby="basic-addon1"></li>
                <li class="list-group-item"> <input type="password" name="password" class="form-control" placeholder="senha" aria-label="Senha"
                        aria-describedby="basic-addon1"></li>
            </ul>
            <div class="card-body">
                <button type="submit" class="btn btn-primary">LOGAR</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}